#root .ant-pro-layout-container {
  min-height: 100vh;
}

.ui-table-fixed table {
  table-layout: fixed !important;
}

#nprogress .bar {
  background: #2166f7;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #2166f7,
    0 0 5px #2166f7;
}
